# See https://tailscale.com/kb/1085/auth-keys for how to generate this key
TS_AUTHKEY="tskey-client-{something}?ephemeral=false"
TS_EXTRA_ARGS="--advertise-tags=tag:container --reset"
# You can do what you want with these
MYSQL_ROOT_PASSWORD="whatever-you-want"
MYSQL_DATABASE="database"
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MEILI_MASTER_KEY="some-sort-of-key"
