{% extends 'layout.html' %}

{% block title %}
  admin
{% endblock %}

{% block content %}

<h1>Admin</h1>

<h2>Entries</h2>

<ul>
  <li>
    <a href="{{ url_for('editEntry') }}">New entry</a>
  {% for entry in entries %}
    <li>
      <a href="{{ url_for('editEntry', { id: entry.id }) }}">{{ entry.title ?: 'untitled' }}</a>
      <small>{{ entry.created_at }}</small>
    </li>
  {% endfor %}
</ul>

<h2>Pages</h2>
<ul>
  <li>
    <a href="{{ url_for('editPage') }}">New page</a>
  {% for page in pages %}
    <li>
      <a href="{{ url_for('editPage', { id: page.id }) }}">{{ page.title ?: 'untitled' }}</a>
      <small>{{ page.slug }}</small>
    </li>
  {% endfor %}
</ul>

<style>
  label.drop-container {
    padding: 20px;
    border-radius: var(--border-radius);
    border: 2px dashed var(--input-border-color);
    color: var(--input-color);
    cursor: pointer;
  }

  label.drop-container.drag-active {
    background: var(--input-background-color);
    border-color: var(--input-border-color);
  }

  label.drop-container:hover .drop-title {
    color: #222;
  }

  label .drop-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
</style>
<h2>Photos</h2>
<form class="stacked" method="post" action="{{ url_for('updatePhoto') }}" enctype="multipart/form-data">
  <label class="drop-container" id="drop-container">
    <span class="drop-title">Drop photo here</span>
    or
    <input type="file" id="images" name="file" accept="image/*" required>
  </label>

  <label>
    Name
    <input type="text" id="name" name="name">
  </label>

  <label>
    Alt Text
    <textarea name="alt_text" rows="3"></textarea>
  </label>

  <label>
    Caption
    <textarea name="caption" rows="4"></textarea>
  </label>

  <label>
    Tags
    <input type="text" id="tags" name="tags">
  </label>

  <label>
    Privacy
    <select class="select" name="privacy">
      <option value="public">Public
      <option value="friends &amp; family">Friends &amp; Family
      <option value="private">Private
    </select>
  </label>

  <button type="submit" class="button">
    Add Photo
  </button>
</form>
<script>
  (function() {
      const dropContainer = document.getElementById("drop-container");
      const fileInput = dropContainer.querySelector('input[type="file"]');

      let enterTarget = null;

      dropContainer.addEventListener("dragover", (event) => {
          event.stopPropagation();
      });

      dropContainer.addEventListener("dragenter", (event) => {
          console.log('on drag enter: ' + event.target.id);
          enterTarget = event.target;
          event.stopPropagation();
          event.preventDefault();
          dropContainer.classList.add("drag-active")
          return false;
      });

      dropContainer.addEventListener("dragleave", (event) => {
          console.log('on drag leave: currentTarget: ' + event.target.id + ', old target: ' + enterTarget.id);
          //Only if the two target are equal it means the drag has left
          if (enterTarget == event.target){
              event.stopPropagation();
              event.preventDefault();
              dropContainer.classList.remove("drag-active")
          }
      });

      dropContainer.addEventListener("drop", (event) => {
          console.log('on drop: ' + event.target.id);
          event.stopPropagation();
          event.preventDefault();
          dropContainer.classList.remove("drag-active")
          fileInput.files = event.dataTransfer.files
          return false;
      });
  })();
</script>
{% endblock %}
