{% extends 'layout.html' %}

{% block title %}
  {% if title %}
    {{ title }} @ trainedmonkey
  {% else %}
    trainedmonkey: photo albums from jim winstead jr.
  {% endif %}
{% endblock %}

{% block extra_head %}
  <style>
    .pager {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 1em;
    }
    .pager .previous {
      text-align: left;
    }
    .pager .current {
      text-align: center;
    }
    .pager .next {
      text-align: right;
    }

    .image-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-auto-rows: 200px;
      gap: 1em;
    }
    .image-gallery li {
      display: block;
      padding: 0.25em;
      border-radius: 8px;
      border: 1px solid rgba(0,0,0,0.2);
      position: relative;
    }
    .image-gallery figure {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    .image-gallery img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    .image-gallery figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: smaller;
      background-color: rgba(0,0,0,0.5);
      color: white;
    }
  </style>
{% endblock %}

{% block prevnext %}
  {% set total = albums[0].records %}
  <div class="pager">
    <div class="previous">
      {% if page > 0 %}
        <a href="{{ current_url() ~ "?" ~ query_params | merge({ 'page': page - 1 }) | url_encode }}">
          &larr; previous
        </a>
      {% endif %}
    </div>
    <div class="current">
      showing {{ (page * page_size) + 1 }} to {{ (page * page_size) + (albums|length) }}
      of {{ total }}
    </div>
    <div class="next">
      {% if (page + 1) * page_size < total %}
        <a href="{{ current_url() ~ "?" ~ query_params | merge({ 'page': page + 1 }) | url_encode }}">
          next &rarr;
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {{ parent() }}
  <ul>
    <li>
      <a href="{{ url_for('photo-tags') }}">Tags</a>
    </li>
    <li>
      <a href="{{ url_for('photo-albums') }}">Albums</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1>
    {{ album.title }}
  </h1>

  <div class="">
    {{ block('prevnext') }}

    <ul class="image-gallery">
      {% for album in albums %}
        {% set photo = album.coverPhoto() %}
        <li>
          <figure>
            <a href="{{ url_for('photo-album', { album_name: album.name }) }}">
              <img lazy
                style="aspect-ratio: {{ photo.width }} / {{ photo.height }}"
                {# x-dims="{{ photo.thumbHashDimensions() | json_encode }}" #}
                {# x-src="{{ photo.thumbHashDataUrl() }}" #}
                src="{{ photo.imgUrl({ 'width': 240, 'height': 240, 'mode': 'fit' }) }}"
                alt="{{ photo.alt_text ?? photo.name }}">
            </a>
            <figcaption>{{ album.title }}</figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>

    {{ block('prevnext') }}
  </div>

{% endblock %}

