{% extends 'layout.html' %}
{% import 'entry.twig' as blog %}

{% block title %}
  {% if title %}
    {{ title }} @ trainedmonkey
  {% else %}
    trainedmonkey: photos from jim winstead jr.
  {% endif %}
{% endblock %}

{% block extra_head %}
<style>
img.responsive {
  width: 100%;
  height: auto;
}
</style>
{% endblock %}

{% block content %}
  <h1>
    {{ block('title') }}
  </h1>

  <h2>
    {{ photo.name }}
  </h2>

  <figure>
    <img class="responsive"
      {# this means image can be sized immediately #}
      style="aspect-ratio: {{ photo.width }} / {{ photo.height }}"
      src="{{ photo.imgUrl({ 'width': 1200, 'height': 1200, 'mode': 'fit' }) }}"
      alt="{{ photo.alt_text ?: photo.name }}">
    <figcaption>{{ photo.caption }}</figcaption>
  </figure>

  <div class="details">
    &raquo;
    <a class="permalink u-url"
       href="{{ photo.canonicalUrl() }}">
      <time class="dt-published" datetime="{{ photo.created_at | date('c') | e('html_attr') }}">
        {{- blog.date_format(photo.created_at) -}}
      </time>
    </a>
    {% if photo.tags %}
      &raquo;
      {% for tag in photo.tags %}
        <a class="p-category" href="{{ url_for('photo-tag', { 'tag' : tag }) }}"
           >{{ tag }}</a>{{ not loop.last ? ', ' }}
      {% endfor %}
    {% endif %}
  </div>

  <dl class="info">
    <dt>Taken
    <dd>{{ photo.taken_at | date('F j, Y g:ia') }}

    <dt>Uploaded
    <dd>{{ photo.created_at | date('F j, Y g:ia') }}

    <dt>Original
    <dd>
      <a href="{{ photo.imgUrl() }}">
        {{ photo.width }} &times; {{ photo.height }}
      </a>
  </dl>

{% endblock %}
