{% extends 'layout.html' %}

{% block title %}
  {{ ymd | date('F, j, Y') }} archives
    @ trainedmonkey
{% endblock %}

{% block content %}
  <h1>
    {{ ymd | date('F, j, Y') }} archives
  </h1>

  {% include 'entries.twig' %}

  {# previous and next day links #}
  <div style="text-align: center; border: none">
    {% if prev %}
      <a href="{{ prev | date('/Y/n/j') }}">
        &laquo; {{ prev | date('l, F j, Y') }}
      </a>
    {% endif %}
    {% if next and prev %}
      &bull;
    {% endif %}
    {% if next %}
      <a href="{{ next | date('/Y/n/j') }}">
        {{ next | date('l, F j, Y') }} &raquo;
      </a>
    {% endif %}
  </div>
{% endblock %}
