<details open
     style="padding: 0.25em 1em; margin: 0.5em 0; border: 1px solid rgba(0,0,0,0.3); border-radius: 0.2em">
  <summary style="font-size: 1.5em; font-weight: bold">Hire me!</summary>

  <p>I am a software developer. After teaching myself to code on Apple II
  computers in junior high school and building software for our family-owned telecom
  business, my degree in Computer Science from <a
  href="https://www.hmc.edu/">Harvey Mudd College</a> gave me the grounding
  for a career in software development where I was able to let my programming
  freak flag fly: I worked for Knowledge Adventure, an educational/games
  software company (where I first started leading teams of developers),
  HomePage.com, an internet startup (where we developed a white-label free web
  hosting platform), and <a href="https://www.mysql.com/">MySQL Ab</a> (where
  I led the web development team and then transitioned over to the server
  development team).</p>

  <p>Through this time I was also involved in the open source community.  In
  college, I was involved in the very early days of Linux, and I took over
  maintenance from Linus of the "root" disk used to install Linux before
  distributions. While working on websites for Knowledge Adventure, I got
  involved with the the <a href="https://www.php.net/">PHP project</a>, and
  became a founding member of the PHP Group. I helped set up and maintain some
  of the collaborative development infrastructure, including the mailing lists
  and online documentation feedback system. Then at HomePage.com,
  I contributed work we did related to mod_perl, and became a member of the <a
  href="https://www.apache.org/">Apache Software Foundation</a>.</p>

  <p>After MySQL Ab was acquired by Sun Microsystems (and then further by
  Oracle), I co-founded <a href="https://rawmaterialsla.com/">Raw Materials
  Art Supplies</a>, a retail store in downtown Los Angeles which I have been
  operating as general manager for the last 15 years. I built <a
  href="https://www.scatpos.org/">Scat POS</a>, a point of sale and ecommerce
  system using PHP and MySQL that we are using to run the business. It has
  involved a lot of integration work (payment processors, product feeds,
  shipping), and I automated as much as I could to focus on our artists'
  needs. This enabled us to build our business from scratch into one of
  the top independent art supply stores in the country.</p>

  <p>I'm looking for individual contributor roles. PHP/MySQL is the core of
  what I do best, but I'm comfortable with full-stack web development, Linux
  system administration, C/C++, Docker, and confident in my abilities to jump
  into any tech stack and get up to speed quickly.</p>

  <p><a href="https://www.linkedin.com/in/jimwinstead/">View my LinkedIn
  profile</a> for some dates and details, and <a
  href="https://www.github.com/jimwins">my GitHub profile</a> for some of my
  open source contributions. <a
  href="mailto:jimw@trainedmonkey.com">Contact me to discuss
  opportunities</a>.</p>
</details>
