{% extends 'layout.html' %}
{% import 'entry.twig' as blog %}

{% block title %}
  {{- entry.title -}}
  {{- entry.title ? ' / ' -}}
  {{- entry.created_at | date('F j, Y g:ia') -}}
  @ trainedmonkey
{% endblock %}

{% block content %}
  {% include 'entry.twig' %}

  {% if previous.id or next.id %}
    <div class="prevnext" style="text-align: center; border: none">
      {% if previous.id %}
        <a href="{{ blog.permalink(previous) }}">&laquo; {{ previous.title ? previous.title : blog.date_format(previous.created_at) }}</a>
      {% endif %}
      {% if previous.id and next.id %}
        &bull;
      {% endif %}
      {% if next.id %}
        <a href="{{ blog.permalink(next) }}">{{ next.title ? next.title : blog.date_format(next.created_at) }} &raquo;</a>
      {% endif %}
      <br clear="both">
    </div>
  {% endif %}

  {% if entry.comment_count %}
    <h2>comments</h2>

    {# XXX show spam to admin #}
    {% set spam = 0 %}
    {% for comment in entry.comments.where_lte('spam', spam).find_many() %}
      <div class="comment {{ comment.spam ? 'spam' }}" id="c{{ comment.id }}">
        <p>{{ comment.comment | paragraphs | expand_psuedo_urls | prettify_markup | raw }}</p>
        <div class="details">
          &raquo;
          {# XXX expose email to admin #}
          {{ comment.name | escape }}
          {% if comment.url %}
            <a rel="nofollow" href="{% if not comment.url matches '/^https?:/' %}http://{% endif %}{{ comment.url }}">(link)</a>
          {% endif %}
          &raquo;
          {# XXX admin link for delete/spam/ham #}
          {{ blog.date_format(comment.created_at) }}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <h2>add a comment</h2>

  {% if date(entry.created_at) > date("-7 days") and not entry.closed %}
    <style>
      form {
        margin-top: 2em;
      }
      form label {
        display: block;
        margin-bottom: 1em;
      }
      form input[type="text"], form input[type="email"], form input[type="url"], form textarea {
        width: 100ch;
      }
    </style>

    <form method="POST" action="{{ url_for('add-comment', { id: entry.id }) }}">
      <label>
        name
        <input type="text" name="name" value="" required>
      </label>

      <label>
        email
        <input type="email" name="email" value="" required>
      </label>

      <label>
        website (optional)
        <input type="url" name="url" value="">
      </label>

      <label>
        your comment
        <textarea name="comment" rows="10"></textarea>
      </label>

      <input type="submit" value="Submit">

      <div>
        <small>
          comments may be rejected or hidden if the robots decide that they
          look like spam.
        </small>
      </div>
    </form>
  {% else %}
    <p>sorry, comments on this post are closed.</p>
  {% endif %}

  <style>
    .spam {
      color: rgba(192, 0, 24, 0.5);
    }
  </style>

{% endblock %}
