{% extends 'layout.html' %}

{% if tag %}
  {% set title = "with '" ~ tag ~ "' tag " %}
{% endif %}

{% block title %}
  {% if title %}
    {{ title }} @ trainedmonkey
  {% else %}
    trainedmonkey: keyboard bangings about living, working, and playing
  {% endif %}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="atom feed" href="http://trainedmonkey.com/index.atom" />
<link rel="shortcut icon" href="/common/fav.ico" />
<meta name="ICBM" content="34.0480,-118.2473" />
<meta name="geo.position" content="34.0480;-118.2473" />
{% endblock %}

{% block content %}
  <h1>
    {% if tag %}
      Entries tagged '{{ tag }}'
    {% else %}
      aka Jim Winstead Jr.
    {% endif %}
  </h1>

  {% if not tag %}
    {% include 'bio.twig' %}
  {% endif %}

  {% include 'entries.twig' %}
{% endblock %}
