<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}trainedmonkey{% endblock %}
    {% if not block('title') matches '/trainedmonkey/' %}
      @ trainedmonkey
    {% endif %}
  </title>
  <link rel="author" href="https://trainedmonkey.com/" />
  <link rel="shortcut icon" href="/common/fav.ico" />
  <link rel="stylesheet" type="text/css" media="screen"
        href="/common/screen.css?{{ current_release() }}" />
  <link rel="stylesheet" type="text/css" media="screen"
        href="/common/sh_style.css" />
  {% block extra_head %}{% endblock %}
  <script type="text/javascript" src="/common/sh_main.min.js"></script>
  <script type="text/javascript" src="/common/sh_sql.min.js"></script>
</head>

<body onload="sh_highlightDocument();">

<ul class="hide">
  <li><a href="#sidebar">skip to sidebar</a></li>
  <li><a href="#search">skip to search box</a></li>
</ul>

<div class="left-sidebar-grid">
  <div class="main-content">
    {% block content %}{% endblock %}
  </div>

  <div class="left-sidebar">
    {% block sidebar %}
      <ul id="navigation">
        <li><a rel="home" href="/">home</a></li>
        <li><a rel="about" href="/about/">about</a></li>
        <li><a rel="toc" href="/archive/">archive</a></li>
        <li><a href="/projects/">projects</a></li>
        <li><a href="{{ url_for('photos') }}">photos</a></li>
        <li><a href="http://www.5thandspring.com/">celia</a></li>
        <li><a href="http://213dog.blogspot.com/">wonton</a></li>
        <li><a rel="me" href="https://mefi.social/@jimw">@jimw@mefi.social</a></li>
      </ul>

      <form id="search" method="get" action="/search">
        <fieldset>
          <legend>search</legend>
          <input type="search" accesskey="4" id="livesearch" name="q"
                 value="{{ q }}" size="10"
                 style="width:100%"
                 placeholder="search"
                 autosave="tm_search"
                 results="10">
        </fieldset>
      </form>
    {% endblock %}
  </div>

  <ul id="links" class="footer">
    <li><a rel="copyright" href="//creativecommons.org/licenses/publicdomain">Dedicated to the public domain</a> by <a class="h-card" href="https://trainedmonkey.com/">Jim Winstead Jr.</a></li>
  </ul>

</div>

</body>
</html>
<!--
<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <Work rdf:about="">
  <license rdf:resource="http://web.resource.org/cc/PublicDomain" />
 </Work>
 <License rdf:about="http://web.resource.org/cc/PublicDomain">
  <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
  <permits rdf:resource="http://web.resource.org/cc/Distribution" />
  <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
 </License>
</rdf:RDF>
-->
